# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# generated stuff
coverage/

# log files
logs/

# generated test cases
DriverLog/pfile*.json
DriverLog/**/Scalability.ptest.json